@import "tailwindcss";
body{
    overflow-x: hidden;
    overflow-y: scroll;

}

@keyframes scroll-slow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 20s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}


